@font-face {
  font-family: Charter;
  src: url('../fonts/fonts/charter-regular.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Charter;
  src: url('../fonts/fonts/charter-italic.otf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: Charter;
  src: url('../fonts/fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Charter;
  src: url('../fonts/fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}

:root {
  font-size: 16px;
  --white30: #212121;
  --white20: #424242;
  --white10: #616161;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--white30);
  margin: 0;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {
  color: var(--white10)
}

header {
    font-size: 14px;
    margin-block-start: 20px;
    color: var(--white10);
}

header a {
  color: var(--gray10);
  text-decoration: none;
  transition: 200ms all;
}

header a:hover {
  color: var(--gray30);
}

header li {
  margin-bottom: 16px;
}

nav details summary {
  font-weight: bold;
  line-height: 25px;
  padding-bottom: 0;
}

.header{
position: relative;
top: 0;

}

.header-content {
  padding-inline: 20px;
  position: relative;
}

.wrapper{
min-width: 966px;
margin: auto;
}

blockquote {
  font-size: 24px;
  margin: 32px 0;
  padding-left: 16px;
  line-height: 24px;
  border-left: 4px solid var(--white30)
}

blockquote p {
  color: var(--white30)
}

blockquote span {
  color: var(--white10);
}

blockquote span::before {
  content: "-";
}

h1 {
  margin-block: 40px;
  font-size: 60px;
  margin-top: 64px;
  margin-bottom: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

h1+p {
  margin-bottom: 40px;
}

hr {
  margin-block: 40px;
}

.title .wrapper {
  min-width: 966px;
  margin: auto;
}

pre {
  background:#E5E5E5;
  padding: 40px;
  font-family: 'Roboto';
  line-height: 24px;
  overflow: auto;
  overflow-x: hidden;
}

h2 {
  font-size: 32px;
  margin-block: 40px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 16px;
  margin-bottom: 24px;
  position: relative;
  margin-block: 16px;
  top: 0;
}

p {
  display: block;
  font-size: 16px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: var(--white20);
}

.main hr {
  display: none;
}

.wrapper {
  max-inline-size: 966px;
  margin: auto;
}

.main-content {
  background: white;
}

.slider-container {
  /* block-size: 100px; */
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
  overflow-x: hidden;
}

.video {
  margin: 0;
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  text-align: center;
  margin-block-start: 15px;
}

.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background: black;
  border-radius: 50%;
}

.form input {
  inline-size: 100%;
  border: 1px solid var(--white30);
  background: white;
  box-sizing: border-box;
  border-radius: 90px;
  padding-inline: 16px;
  padding-block: 12px;
  color: black;
  font-size: 16px;
  display: block;
  margin-block-end: 24px;
  text-align: center;
}

.form input[type="submit"] {
  background: black;
  color: white;
  border: none;
  padding-block: 12px;
}

input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
}

.form input::-webkit-input-placeholder {
  color: var(--white20);
  cursor: pointer;
  text-decoration: underline;
}


footer {
  background: var(--white30);
  margin-block-start: 90px;
}

.footer-content {
  block-size: 177px;
  display: grid;
  align-content: center;
}

footer p {
  color: white;
  font-size: 16px;
  text-align: center;
  margin-block-start: 0;
}

.social {
  text-align: center;
}

.social img {
  text-align: center;
  padding-inline-end: 16px;
}

.div {
  display: block;
}

.no-count h3::before {
  content: none;
}

.section-content {
  margin-top: 164px;
  position: relative;
}


.section-content:first-of-type {
  margin: 0;
}

.section-content ol li {
  font-weight: normal;
  line-height: 24px;
}

.section-content ul li {
  font-weight: normal;
  margin-bottom: 16px;
}

.section-content * hr {
  display: none;
}

.section-content img {
  margin-top: 40px;
  display: block;
  max-inline-size: 100%;
}

.section-content-2 img {
  width: 100%;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
}

.hidden-number h3 {
  counter-set: none;
  border: 0;
  font-weight: normal;
}

@media screen and (max-width: 700px) {

h1{
    width: 50%;
}

body{
  width: 50%;
}

p{
  width:50%;
}

pre {
    width: 45%;
  }

h2{
width: 50%;
  }

.section-content ul li{
    width:40%;
  }

scroll-container{
width: 50%;
}

.slider-bullet {
text-align:inherit;

}

.section-content img {
max-inline-size: 480px;

}

.form input{
width:50%;

}

.footer-content{


}

}










